/* here you can put your own css to customize and override the theme */
body {
	background-color: #3B4557 !important;
}

.margin-top-0 {
	margin-top:0 !important;
}

.rodape {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}  

.link_claro {
	color:#FFF;
}

.rodape .web-description {
  text-align: center;
  color: #fff;

}

.rodape .web-description h5 {
	font-size:12px;
  color: #6d6e71
}

.rodape .web-description p {
  font-size: 11px;
  line-height: 9px
}

.rodape a.map {
/*    background: url(../images/ico_map.gif) no-repeat scroll left top rgba(0, 0, 0, 0);
*/    padding-left: 13px;
}



.media-thumb .thumb, .media-thumb .img-shadow {
    height: 32px;
    width: 32px;
}
.img-shadow {
    float: left;
    position: relative;
}


.media-left {
    float: left;
    margin-right: 10px;
}

.x-big {
	font-size:18px;
}

.theme-panel > .theme-options {
    display: block !important;
		 right: auto;
		 background: none;
		 color:#000;
}
.theme-panel {
    float: none;
    width: auto;
}
.theme-panel > .theme-options > .theme-option {
    color: #000;
}

.theme-options {
	width:100%;

}

/* bootstrap.min.css */
.nav-titulo { text-transform:uppercase; margin-left: -30px;}
.nav-titulo li {list-style:none; margin:0;}
.text-nav-icon {
	color: #FFF !important;
}
.text-nav-icon:hover {
	color: #248EAE !important;
}

.nav-titulo h5, .nav-titulo h6 {
	  color:#FFF !important;
    margin-bottom: 4px;
    margin-top: 4px;
		font-family: Arial, Helvetica, sans-serif; 
	  font-size:14px;
		line-height:14px;
}
.nav-titulo h6{
	  color:#248EAE !important;
		font-size:15px;
		font-weight:bold  !important;
}
/* style */

.sidebar-item .profile {
  padding: 2px 8px 4px 2px;
  height: 36px;
 /* background: url("../images/background/body-bg-02a.jpg") repeat 0 0;*/
  -webkit-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5) inset, -2px 0 10px -2px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5) inset, -2px 0 10px -2px rgba(0, 0, 0, 0.5) inset;
  -o-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5) inset, -2px 0 10px -2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5) inset, -2px 0 10px -2px rgba(0, 0, 0, 0.5) inset;
}

 .sidebar-right .sidebar-item .profile {
  -webkit-box-shadow: 5px 0 20px -5px rgba(0, 0, 0, 0.5) inset, 2px 0 10px -2px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 5px 0 20px -5px rgba(0, 0, 0, 0.5) inset, 2px 0 10px -2px rgba(0, 0, 0, 0.5) inset;
  -o-box-shadow: 5px 0 20px -5px rgba(0, 0, 0, 0.5) inset, 2px 0 10px -2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 5px 0 20px -5px rgba(0, 0, 0, 0.5) inset, 2px 0 10px -2px rgba(0, 0, 0, 0.5) inset;
}

/*.sidebar-item .profile .media-heading {
  margin: 0;
  color: #FFF;
  font-weight: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}*/

.sidebar-item .profile .media-heading small {
  display: block;
  font-size: 12px;
  margin-top: 2px;
}

.sidebar-item .profile .data {
  margin-top: 2px;
/*  color: #e1e1e1;*/
  font-size: 11px;
  font-weight: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.sidebar-item .profile .thumb {
  border: 1px solid #222;
}

.profile .media-thumb .img-shadow {
  height: 55px;
  width: 55px;
}

/*ul.page-sidebar-menu > li.active > a {background-color:#0d9a4b !important;}*/
.well {
	background:#EAECF2;
	padding:8px;
  margin-bottom: 4px;
 /*background: url(../images/body-bg-01.jpg);*/
}
/*.well2 {

		background: url(../images/body-bg-01.jpg);
    margin-bottom: 8px !important;
		border-bottom: 1px solid #64BE5A;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
		padding:8px !important;	
}*/

.page-title {
    color: #3D3D3D;
    margin: 0 0 0 15px;
		font-size:20px;
}
.breadcrumb {
    background-image:none !important;
}
.page-content .page-breadcrumb.breadcrumb {
    margin-bottom: 0;
    margin-top: 0;
		height:28px;
		background-color:#248EAE;
}
.breadcrumb { 
	   /*background-image: linear-gradient(to bottom,#018334 ,#0D9A4B  ); */color:#FFF !important; padding:5px;
	}
	.breadcrumb .active {
    color: #CCFFCC;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.breadcrumb > .active {
    color: #fff;
}
.breadcrumb li {
    display: inline-block;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.breadcrumb > li {
    display: inline-block;
    text-shadow: 0 1px 0 #FFFFFF;
}
.page-content .page-breadcrumb.breadcrumb > li > a, 
.page-content .page-breadcrumb.breadcrumb > li > i,
.page-content .page-breadcrumb.breadcrumb > li > span {
    color: #FFF;
}

.caption {
    padding-bottom: 3px;
}

.portlet > .portlet-title {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 0 #f0f0f0;
    margin: 8px 0 ;
}
	
.page-head {

		border-bottom: 1px solid #64BE5A;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

}
.page-head .page-title {
    margin-bottom: 0;
}
.page-title h1 {
}
.page-title small {
    color: #000;}
.pagedesc {
    
}

h1 { font-size:1.45em; margin-top:8px;    color: #248EAE;}
h1 small {
	font-size:65%;
	line-height:normal !important;
	    color: #000;
}
h2 {
	color:#058B3C;
	font-size:1.25em; 
	  border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 #F0F0F0;
    margin: 8px 0;
}

/* default.css */
.header .navbar-nav li.dropdown .dropdown-toggle i {
    color: #248EAE !important;
}

/* primefaces.css */
.ui-picklist-source, .ui-picklist-target {
	min-width:200px;
	min-height:200px;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    padding: 0.2em 0.2em !important;
}

/* theme.css */
.ui-state-error {
    border: 1px solid #CD0A0A !important;
		background:#f5f5f5 !important;
}

/**.ui-button {background:#248EAE; border:none; color:#FFF; box-shadow:none; text-shadow:none;}
.ui-button:hover {background:#218930;}**/
.ui-splitbutton-menubutton { border-left:1px solid #fff; }

/* theme-bootstrap.css */
.ui-dialog-title{
color:#000;
font-size:14px !important;
}

.ui-datalist-data {
	background: none repeat scroll 0 0 #3B4557 !important;
	border-top: 1px solid #5C5C5C !important;
    color: #FFFFFF !important;
    border: 0 none !important;
    display: block !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin: 0 !important;
    padding: 10px 15px !important;
    position: relative !important;
    text-decoration: none !important;
}

ul.ui-datalist-data > li.open > a, ul.ui-datalist-data > li > a:hover, ul.ui-datalist-data > li:hover > a {
    background: none repeat scroll 0 0 #3B4557 !important;
}
ul.ui-datalist-data > li > a {
    border-top: 1px solid #5C5C5C !important;
    color: #FFFFFF !important;
}

.ui-datalist-item > li > a {
	border: 0 none !important;
    display: block !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin: 0 !important;
    padding: 10px 15px !important;
    position: relative !important;
    text-decoration: none !important;
}
/*************/
/* theme.css */
/*************/

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield , .ui-picklist .ui-picklist-list {
	background:#fafafa;	
	border:1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: block;
  line-height: 1.42857;
  padding: 6px 16px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  /*width: 100%;*/
}

.ui-inputfield {
}

/**.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	background-color: #fff;
}**/

/* colocar tira verde no topo da aba selecionada */
.ui-tabs-nav { background:none !important;}
.ui-tabs-selected {
    border-top: 3px solid #0F994C !important;
    margin-top: 0;
    position: relative;
}

/* colocar cor na barra superior panel (afeta outras barras não previstas) */
.ui-widget-header {
    background: none repeat scroll 0 0 #7E8C8D;
    color: #FFFFFF;
}


/* main.css */

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
/*    background-image: none !important;*/
}

/* primefaces.css */
.ui-state-error{
	color:#333333 !important;
}

/** Select One Menu */
.ui-selectonemenu {
	min-width: 124px !important;
	border-radius: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    font-weight: bold !important;
    box-shadow:none !important;
    color:#333333 !important;
    font-weight:normal !important;
    transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.ui-selectonemenu-trigger {
	width: 24px !important;
	border-radius: 0 !important;
    box-shadow: none !important;
}

/** Fim Select One Menu **/


.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
	font-size:12px;
	font-weight:bold;
/*  padding: 0.2em;
*/}

.ui-tabs .ui-tabs-panel {
  border-width:1px;
}
.ui-panel {
    padding: 0;
}
.ui-panel .ui-panel-content {
    background: #EAECF2;

}

/* style-buttom.css */
.btn {
    padding:2px 2px;
}

.ui-radiobutton-icon {
    margin-left: 0px;
}

/* primefaces-bootstrap.css */
.ui-corner-all {
    border-radius: 0px;
}

.ui-datatable-header,.ui-datatable-footer, .ui-paginator{
	background-color: #F5F5F5 !important;
	color: #000000;
	font-weight: bold;
}

.ui-paginator-jtp-select option,
.ui-paginator-rpp-options option {
    background-image: none;
    border:0 none;
    box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    font-weight: bold;
}

/** Checkbox **/
.ui-chkbox-box {
	border-radius: 0 !important;
    box-shadow: none !important;
}
/** fim checkbox **/

.ui-state-focus{
	-webkit-box-shadow:none !important;
  border-color:#999999 !important;
  box-shadow:none !important;
  outline:0 !important;
}


/**.ui-state-highlight{
	color: #000000 !important;
	background-image: none !important;
	background-color: #E5E3E1 !important;
}*/

.ui-button {
	/*border-width: 0 !important;
	padding: 7px 14px !important; 	
  	font-size: 14px !important;  
	outline: none !important;
  	-webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  	-webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    text-shadow: none!important;*/
}

/** Grow Container */
.ui-growl {
	top: 10%;
}

/** Messages **/
.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
    margin: 5px 0 !important;
}

/** outputLabel **/
.ui-outputlabel{
	border: none !important;
	background: none !important;
	background-image: none !important;
}

.sidebar-toggler-wrapper {
	background:#3B4557;
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5) inset, -2px 0 10px -2px rgba(0, 0, 0, 0.5) inset;
  color: #FFFFFF;
}
.sidebar-toggler-nome {
    height: 0;
		font-size:11px;
		/*text-transform:uppercase;*/
		line-height: 0.99;
		padding: 1px 0 0 24px;
    width: 164px;
}
.sidebar-toggler-avatar {
    height: 28px;
    width: 28px;
		background-image:url(../images/avatar.png);
		float:left;
		margin-right:4px;
}
.sidebar-toggler-nome span {
	color:red;
	}

.ui-tabs-selected {
	border-top:2px solid #248EAE !important;
}
@media (max-width: 992px) { 
 	/***
 	Page sidebar
 	***/
	.sidebar-toggler-nome {
		display:none !important;
	}
	
	.nav-titulo h5 {
    font-size: 12px;
 }
 
.header .navbar-brand {
    margin-left: 0 !important;
    width: auto;
}
.navbar-nav > li > a {

    padding-top: 15px;
}
}	
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 0.4;
}
/***/
/*.navbar-nav > li > a {
     padding-top:6px;
}*/
.header {
    background-color: #2E3139 !important;
}

ul.page-sidebar-menu > li.active > a {
    background:#248EAE  !important;
}
.page-sidebar-menu > li > a {
    padding: 8px 12px; 
}

.ui-icon-check {
    background-position: -65px -146px;
}
.ui-icon-bullet {
    background-position: -80px -145px;
}
.ui-icon-triangle-1-s {
    background-position: -64px -10px;
}
.ui-state-highlight .ui-icon {
   background-image: url(../images/ui-icons_405365_256x240.png);
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
     background-image: linear-gradient(to bottom, #E9E9E9, #E9E9E9);
     color:#000000;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield, .ui-picklist .ui-picklist-list {
    line-height: 1.42857;
    padding: 4px 8px;
}

.ui-tabs .ui-tabs-panel {
    background: #FFF;
 }
 
 .ui-datatable-scrollable-header {
	 background-color:#F5F5F5;
 }
 
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  background: #F2DEDE !important;
		 /* border: 1px solid #EED3D7 !important;*/
}

/** Spinner Input **/
.ui-spinner-input {
	padding-right: 15px !important;
}

.observacao {
	font-size:70%; 
	color:#666;
	float: right;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #248EAE !important;
		color:#FFF;
		}
		
.ui-notificationbar {
    background: none repeat scroll 0 0 #248EAE;
    border: medium none;
    color: #FFFFFF !important;
    display: none;
    height: 100px;
    padding: 50px 8px;
    position: fixed;
    width: 100%;
}

.page-header-fixed .page-container {
    margin-top: 64px;
}

.header {
    height: 64px;
    min-height: 64px; 
		-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5) inset, 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
  	-moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5) inset, 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
 	 	-o-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5) inset, 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
  	box-shadow: 0px -5px 3px -4px rgba(0, 0, 0, 0.5) inset, 0 0 0px 0 rgba(0, 0, 0, 0.5) inset;
}

.header .navbar-brand img {
    margin-left:10px;
}

.page-sidebar {
  background-color: #3B4557;
}
ul.page-sidebar-menu > li > a {
  border-top: 1px solid #526178 !important;
/*	 border-bottom: 1px solid #434F63 !important;*/
  color: #ffffff !important;
}
ul.page-sidebar-menu > li:last-child > a {
  border-bottom: 1px solid #526178 !important;
}
ul.page-sidebar-menu > li a i {
  color: #FFF;
}
ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a {
  background: #248EAE;
}
ul.page-sidebar-menu > li.active > a {
  background: #FFF !important;
  border-top-color: transparent !important;
  color: #248EAE !important;
}
ul.page-sidebar-menu > li.active > a i {
  color: #248EAE;
}

.header {
    padding: 0;
}

.header .navbar-brand {
	/*	background:#3B4557;   
		box-shadow: 0 -5px 3px -4px rgba(0, 0, 0, 0.5) inset, 0 0 0 0 rgba(0, 0, 0, 0.5) inset;    */ 
		height: 76px;     
		min-height: 76px; 
		min-width: 132px;
}



.navbar-inverse .navbar-toggle {
    border-color: #EAECF2;
}

ul.page-sidebar-menu > li > a {
/*    border-top: 1px solid #3B4557 !important;
*/    color: #FFFFFF !important;
}
ul.page-sidebar-menu > li.active > a {
    border-left:3px solid #248EAE!important;
}

  .page-sidebar {
    background-color: #3B4557 !important;
  }

  .page-sidebar .sidebar-search input {
    background-color: #3B4557 !important;
  }

/*********/
.ui-button {
	
    border-color: #357EBD;
    -moz-user-select: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.page-sidebar-menu > li > ul.sub-menu {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5) inset, -1px 0 1px -1px rgba(0, 0, 0, 0.5) inset !important;   
    margin: 0 !important;
		background-color:#fff;
		color:#000;
		padding:1px 0 1px 0;
}

.page-sidebar-menu > li > ul.sub-menu li {
	border-bottom:1px solid #ddd;
}

ul.page-sidebar-menu li > ul.sub-menu > li > a {
    color: #000000;
}

.theme-panel > .toggler-close {
   background: #248EAE url(../images/icon-color-close.png) center no-repeat !important;
}

/* ProgressBar */
.ui-progressbar.ui-widget-content {
	height: 24px;
	margin-bottom: 18px;
	overflow: hidden;
	background-color: #f9f9f9;
	background-image: -moz-linear-gradient(top, #EAECF2, #f9f9f9);
	background-image: -ms-linear-gradient(top, #EAECF2, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EAECF2), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #EAECF2, #f9f9f9);
	background-image: -o-linear-gradient(top, #EAECF2, #f9f9f9);
	background-image: linear-gradient(top, #EAECF2, #f9f9f9);
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
filter:progid:dximagetransform.microsoft.gradient(startColorstr='#EAECF2', endColorstr='#f9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: #333333 !important;
	vertical-align: middle !important;
}
.ui-progressbar .ui-progressbar-value.ui-widget-header {
	height: 24px;
	font-size: 12px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 0 none;
	margin: 0;
	background-color: #7E8C8D;
	background-image: -moz-linear-gradient(top, #7E8C8D, #9C9797);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7E8C8D), to(#9C9797));
	background-image: -webkit-linear-gradient(top, #7E8C8D, #9C9797);
	background-image: -o-linear-gradient(top, #7E8C8D, #9C9797);
	background-image: linear-gradient(top, #7E8C8D, #9C9797);
	background-image: -ms-linear-gradient(top, #7E8C8D, #9C9797);
	background-repeat: repeat-x;
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#7E8C8D', endColorstr='#9C9797', GradientType=0);
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width 0.6s ease;
	-moz-transition: width 0.6s ease;
	-ms-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;
}
